<h2>About the Folksemantic Project</h2>

<p>At the NSDL 2009 Annual meeting, Folksemantic team members participated in a Panel on recommendation systems.
In that panel, we addressed the following questions:</p>

<h4>Q1: What is the value of personalization?</h4>
<p>Personalizing learning and teaching support has the potential to make them more efficient, effective, and enjoyable.
  Systems support personalization by adapting functionality to individuals, by allowing users to customize the system,
  and by supporting human interaction inside of the system.
<p>In creating OER Recommender and OCW Finder our goal was to provide a means for educators and students to
  easily find and access NSDL and OpenCourseWare open educational resources (OERs) that meet their individual needs.
  The OER Recommender widget added the ability for users to discover "like" resources while exploring pages of
  interest. By recruiting partners to provide metadata for pertinent and vetted educational resources, we continue to
  expand the range of content that can be found using our services.
<p>Adopting the perspective that users want a more personalized experience than what search engines offer, we have
  expanded our search-and-retrieval system to incorporate social aspects. Under the umbrella of "folksemantic.com",
  we have integrated OER Recommender and OCW Finder and added functionality for users to connect to other educators
  and learners and soon to receive personalized recommendations.
</p>

<h4>Q2. How is personalization being supported in your project?</h4>
<p>Web sites can easily include our "related resources" widgets in their site to help their users find relevant
  resources whether they be on their site or others. Please see (http://www.folksemantic.com/widgets). We have
  implemented the ability for people to register on the site, and add the feeds that they produce to the system such
  as their blogs and bookmarks for display on their profile. This allows other users to learn about them and decide
  whether or not to "follow" them in the system. Users can easily invite their colleagues to participate in the system
  by importing their contact lists. When users login, they are presented with a Facebook-like dashboard that includes
  an activity feed showing the activities of the users that they follow. The dashboard will also be the place where
  the system will display personal recommendations of resources and people that may be of interest. Personal
  recommendations will be based on attention metadata including searches, click data, time on page, registered feeds
  including bookmarks and feeds, comments, and shares.</p>

<h4>Q3. Who are the audiences you serve and what are the primary use cases your application(s) address?</h4>
<p>Our primary audiences are learners and teachers who access OERs in the NSDL and in OpenCourseWares; primarily middle
  schools, high schools, and post secondary schools. The audience of our recommender widgets are the OER repositories
  themselves.</p>

<h4>Q4. What are the learning outcomes and results from your project so far?</h4>
<p>We have not attempted to measure learning. Our index includes over 110,000 OERs including over 3,500 OpenCourseWares
  and OERs in 8 languages. Over 1400 users have registered in the past 5 months. We recently added functionality to
  allow users to register feeds they produce such as their bookmarks and blogs, and to share and comment on OERs in
  the system. We have conducted research on algorithms for personalized recommendations.</p>

<h4>Q5: What is your vision for how your system will influence teaching and learning behaviors?</h4>
<p>Folksemantic is a step in the direction of providing Open Distributed Learning Management Services that support
  teaching and learning with OERs. Our widgets and services approach "goes to where the resources and people already are"
  rather than attempting to bring resources into a learning management system and get people to come to a site.
  NSDL repositories can easily adopt our recommender, discussion and sharing services to add value to their sites.
  As we add personal recommendations, these will be pushed to the user via email, twitter, Facebook and other channels.
  We envision additional light-weight services including assessment, learning management, adaptation, and sequencing
  tools that can be adopted and integrated into existing environments with little effort. The resulting influence on
  teaching and learning will be that learning and teaching will be more readily integrated into normal web activities.
  In addition, online learning will be more interactive and collaborative. </p>

