<div id='content-page' style="width:645px;">
<h1>Demo Video for OER Recommender Providers</h1>
<p>This video shows how to insert "related resources" links into a web page and how to add your resources
to the index so they will be included in recommendations provided by OER Recommender.</p>
<object width="640" height="505"><param name="movie" value="http://www.youtube.com/v/e9QdYRWMSkA?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/e9QdYRWMSkA?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="505"></embed></object>
</div>