<div id='content-page' style="width:645px;">
  <div style="margin-bottom:30px;font-size:18px;font-weight:bold;">
    <span style="color:#297FAA;">Help Evaluate OER Recommender</span>:
    <img src="/images/folksemantic/btn-blue-arrow3.gif" style="vertical-align:middle"> <a href="https://spreadsheets.google.com/viewform?hl=en&formkey=dDhFdndWNlhteTE5eXpSOUlYNWxvelE6MQ#gid=0" style="color:#297FAA;">OER Providers</a>&nbsp;&nbsp;&nbsp;
    <img src="/images/folksemantic/btn-blue-arrow3.gif" style="vertical-align:middle"> <a href="https://spreadsheets.google.com/viewform?hl=en&formkey=dENCZFQ3blpMWjFNTkxhbjZhV05UN2c6MQ#gid=0" style="color:#297FAA;">Teachers</a>
    </div>
<h1>Demo Video for OER Recommender Providers</h1>
<p>This video shows how to insert "related resources" links into a web page and how to add your resources
to the index so they will be included in recommendations provided by OER Recommender.</p>
<object width="640" height="505"><param name="movie" value="http://www.youtube.com/v/e9QdYRWMSkA?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/e9QdYRWMSkA?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="505"></embed></object>
</div>