<h1>OER Recommender - Example Search Results</h1>
<p><a href="/">Return to home page</a></p>

<p>To display search results in a page, insert an html snippet like the following one into a web page:</p>
<pre>
  &lt;script type="text/javascript" src="http://www.folksemantic.com/search/results.pjs?terms=gm"&gt;&lt;/script&gt;
</pre>
<p>Use the <em>terms</em> parameter to specify search terms.</p>

<hr>
<h2>Supported Request Parameters</h2>
<p>Folksemantic search supports the following optional parameters:</p>
<dl>
  <dt><b>details</b></dt>
  <dd>Whether or not to display descriptions and addresses in search results when the html snippet (.pjs) format is requested. Supported values are <em>true</em> and <em>false</em>. The default is <em>true</em>.</dd>
  <dt><b>grain_size</b></dt>
  <dd>Whether to search all resources or just courses. Supported values are <em>all</em> and <em>course</em>. The default is <em>all</em>.</dd>
  <dt><b>page</b></dt>
  <dd>Page of results to display. The default is <em>1</em>.</dd>
  <dt><b>per_page</b></dt>
  <dd>Number of results to display at once. The default is <em>10</em>.</dd>
</dl>

<hr>
<h2>Example Search Results</h2>

<script type="text/javascript" src="/search/results.pjs?terms=gm"></script>

<p><b><a href="/search/results.pjs?terms=power">See the Javascript</a></b></p>

<hr>
<h2>Narrowing Search Results to a Collection</h2>

<p>Optionally you narrow a search by specifying the ids of collections to include or exclude. For example:</p>

<pre>
  &lt;script type="text/javascript" src="http://www.folksemantic.com/search/results.pjs?terms=gm+AND+!feed_id:(496197525+496197527+496603418+1046958763)"&gt;&lt;/script&gt;
</pre>

<p>Excludes the collection with the ids 496197525, 496197527, and 496603418 (OpenLearn) from the search. See the <a href="/collections">Indexed Collections</a> page to find the ids of the collections.</p>

<script type="text/javascript" src="/search/results.pjs?terms=gm+AND+!feed_id:(31+41+85)"></script>

<p><b><a href="/search/results.pjs?terms=power+AND+!feed_id:(31+41+85)">See the Javascript</a></b></p>

<hr>
<h2>Styling Search Results</h2>
<p>Use the following styles to style the list:</p>
<pre>
  .oer_recommender_container {}
  .oer_recommender_list {}
  .oer_recommender_hit_link {}
  .oer_recommender_item {}
  .oer_recommender_item_description {}
</pre>