<div class="center">
  <h1><%= t('oerrecommender.title') %></h1>
  <p style="color: green"><%= flash[:notice] %></p>

  <p style="font-size:16px;"><%= link_to t('oerrecommender.tag_line'), 'http://www.folksemantic.com/widgets' %></p>

  <p><img src="http://www.folksemantic.com/images/oerrecommender.gif" /></p>

  <p style="font-size:16px;"><%= link_to t('oerrecommender.signup'), 'http://www.folksemantic.com/sign_up' %></p>
</div>
