<div class="center">
  <h1><%= t('oerrecommender.title') %></h1>
  <p style="color: green"><%= flash[:notice] %></p>

  <div style="margin:30px;font-size:18px;font-weight:bold;">
  <span style="color:#297FAA;">Help Evaluate OER Recommender</span><br/>
  <img src="/images/folksemantic/btn-blue-arrow3.gif" style="vertical-align:middle"> <a href="https://spreadsheets.google.com/viewform?hl=en&formkey=dDhFdndWNlhteTE5eXpSOUlYNWxvelE6MQ#gid=0" style="color:#297FAA;">OER Providers</a>&nbsp;&nbsp;&nbsp;
  <img src="/images/folksemantic/btn-blue-arrow3.gif" style="vertical-align:middle"> <a href="https://spreadsheets.google.com/viewform?hl=en&formkey=dENCZFQ3blpMWjFNTkxhbjZhV05UN2c6MQ#gid=0" style="color:#297FAA;">Teachers</a>
  </div>

  <p style="font-size:16px;"><%= link_to t('oerrecommender.tag_line'), 'http://www.folksemantic.com/widgets' %></p>

  <p><img src="http://www.folksemantic.com/images/oerrecommender.gif" /></p>

  <p style="font-size:16px;"><%= link_to t('oerrecommender.signup'), 'http://www.folksemantic.com/signup' %></p>
</div>
