<div class="block" id="header">
    <a href="http://www.folksemantic.com/"><div id="logo" class="span-8 column">&nbsp;</div></a>
    <div id="take-tour" class="span-8 column"><!--<a href='/tour'><%= t('folksemantic.tour') %></a>--></div>
    <%= render :partial => 'layouts/global/oerr_search_box' %>
</div>